body{
    background-color: rgb(66, 66, 66);
}
#container{
    width: 800px;
    margin: 0 auto;
}
#title{
    font-size: 75px;
    color: white;
}
#menu{
    background-color: red;
    height: 50px;
}
#menu>ul{
    list-style: none;
    text-align: center;
}
#menu>ul>li{
    width: 200px;
    float: left;
    padding: 11px 0;
}
#menu>ul>li>a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
#menu>ul>li:hover{
    opacity: 50%;
}
#page{
    background-color: white;
    padding: 15px 50px 60px 20px;
}
input{
    width: 300px;
    float: right;
}
#submit{
    width: 100px;
    margin-right: 204px;
}
#footer{
    background-color: rgb(97, 97, 97);
    padding: 1px 0;
    text-align: center;
}